n8n/workflow.json
{
  "name": "B2B Resolution Copilot - Intake and Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b2b-resolution-copilot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Incoming Client Issue",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/analyze-case",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body || $json }}",
        "options": {}
      },
      "id": "http-node",
      "name": "Analyze with Resolution Copilot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "escalate-condition",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "ESCALATE_NEW_CASE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-node",
      "name": "Escalation Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response-known",
      "name": "Return Copilot Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        780,
        140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"status\": \"escalation_prepared\", \"copilot\": $json} }}",
        "options": {}
      },
      "id": "response-escalated",
      "name": "Return Escalation Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        780,
        -140
      ]
    }
  ],
  "connections": {
    "Incoming Client Issue": {
      "main": [
        [
          {
            "node": "Analyze with Resolution Copilot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze with Resolution Copilot": {
      "main": [
        [
          {
            "node": "Escalation Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Needed?": {
      "main": [
        [
          {
            "node": "Return Escalation Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Copilot Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "portfolio-demo-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}